In [61]:
import requests, json
import pandas as pd 
import numpy as np 

cases_by_zip_url = "https://gis-public.sandiegocounty.gov/arcgis/rest/services/Hosted/COVID_19_Statistics__by_ZIP_Code/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json"

In [62]:
response = requests.get(cases_by_zip_url)
data = response.json()
#data is in dict format

In [37]:
data.keys()

dict_keys(['exceededTransferLimit', 'features', 'fields', 'geometryType', 'spatialReference', 'globalIdFieldName', 'objectIdFieldName', 'hasZ', 'hasM'])

In [49]:
data["features"][1]

{'attributes': {'objectid': 1081,
  'zipcode_zip': 91906,
  'ziptext': '91906',
  'case_count': None,
  'updatedate': 1586505600000,
  'created_user': 'John.Taylor@sdcounty.ca.gov',
  'created_date': 1586646600000,
  'last_edited_user': 'John.Taylor@sdcounty.ca.gov',
  'last_edited_date': 1586646600000,
  'globalid': '{B3B30588-FE04-4679-A8F0-C228A4F3BA50}',
  'rate_100k': None,
  'test_positive': None,
  'test_neg': None,
  'test_ind': None,
  'test_total': None,
  'test_100k': None,
  'testspctpositive': None},
 'geometry': {'x': -116.46968055286347, 'y': 32.66042735240326}}

In [60]:
data["features"][1]["attributes"]
#updatedate is April 10, 2020
#created_date is April 11, 2020

{'objectid': 1081,
 'zipcode_zip': 91906,
 'ziptext': '91906',
 'case_count': None,
 'updatedate': 1586505600000,
 'created_user': 'John.Taylor@sdcounty.ca.gov',
 'created_date': 1586646600000,
 'last_edited_user': 'John.Taylor@sdcounty.ca.gov',
 'last_edited_date': 1586646600000,
 'globalid': '{B3B30588-FE04-4679-A8F0-C228A4F3BA50}',
 'rate_100k': None,
 'test_positive': None,
 'test_neg': None,
 'test_ind': None,
 'test_total': None,
 'test_100k': None,
 'testspctpositive': None}

In [54]:
data["features"][1]["attributes"]["ziptext"]

'91906'

In [57]:
data["features"][1999]["attributes"]
#updatedate: April 7, 2020 - the day the cases were reported
#create data: April 11, 2020 - not useful

{'objectid': 771,
 'zipcode_zip': 92014,
 'ziptext': '92014',
 'case_count': 13,
 'updatedate': 1586246400000,
 'created_user': 'Ross.Martin@sdcounty.ca.gov',
 'created_date': 1586630625000,
 'last_edited_user': 'Ross.Martin@sdcounty.ca.gov',
 'last_edited_date': 1586630625000,
 'globalid': '{B15617F1-351C-43BB-8B69-7C6869FCD333}',
 'rate_100k': None,
 'test_positive': None,
 'test_neg': None,
 'test_ind': None,
 'test_total': None,
 'test_100k': None,
 'testspctpositive': None}

In [75]:
Zipcases = pd.read_csv("Datasets/COVID-19_Case_Statistics_by_ZIP_Code.csv")
Zipcases

,X,Y,objectid,zipcode_zip,ziptext,case_count,updatedate,created_user,created_date,last_edited_user,last_edited_date,globalid,rate_100k,test_positive,test_neg,test_ind,test_total,test_100k,testspctpositive
0,-1.299049e+07,3.869543e+06,1,91901.0,91901,1.0,2020/04/01 08:00:00+00,Ross.Martin@sdcounty.ca.gov,2020/04/11 18:43:45+00,Ross.Martin@sdcounty.ca.gov,2020/04/11 18:43:45+00,{87C2AEFB-2AB8-473D-BE60-B021F0AD990A},NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-1.302606e+07,3.851793e+06,2,91902.0,91902,9.0,2020/04/01 08:00:00+00,Ross.Martin@sdcounty.ca.gov,2020/04/11 18:43:45+00,Ross.Martin@sdcounty.ca.gov,2020/04/11 18:43:45+00,{0BBF31F5-A98F-4A42-869E-F425379D6BA8},NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-1.303169e+07,3.847143e+06,3,91910.0,91910,23.0,2020/04/01 08:00:00+00,Ross.Martin@sdcounty.ca.gov,2020/04/11 18:43:45+00,Ross.Martin@sdcounty.ca.gov,2020/04/11 18:43:45+00,{94FEB6AB-AB77-4534-9692-CF8DFC823461},NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-1.302997e+07,3.843296e+06,4,91911.0,91911,21.0,2020/04/01 08:00:00+00,Ross.Martin@sdcounty.ca.gov,2020/04/11 18:43:45+00,Ross.Martin@sdcounty.ca.gov,2020/04/11 18:43:45+00,{83793CC0-427A-4747-9BDD-5D79A947C3FF},NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-1.302299e+07,3.844480e+06,5,91913.0,91913,20.0,2020/04/01 08:00:00+00,Ross.Martin@sdcounty.ca.gov,2020/04/11 18:43:45+00,Ross.Martin@sdcounty.ca.gov,2020/04/11 18:43:45+00,{597D4C08-7AD1-49D2-811D-D54EE7C2BB13},NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18586,-1.302967e+07,3.836284e+06,19464,NaN,92173,1416.0,2020/09/11 08:00:00+00,NaN,NaN,NaN,NaN,{60F83469-57AF-449E-B63F-25944269668B},5225.7,NaN,NaN,NaN,NaN,NaN,NaN
18587,-1.303254e+07,3.865633e+06,19465,NaN,92182,5.0,2020/09/11 08:00:00+00,NaN,NaN,NaN,NaN,{31969B3E-E93F-47CA-9F4E-D74CF0309002},NaN,NaN,NaN,NaN,NaN,NaN,NaN
18588,-1.293020e+07,3.864272e+06,19466,NaN,92259,NaN,2020/09/11 08:00:00+00,NaN,NaN,NaN,NaN,{EFFEF789-3067-4F01-A5AE-557D97D7F980},NaN,NaN,NaN,NaN,NaN,NaN,NaN
18589,-1.299327e+07,3.948342e+06,19467,NaN,92536,1.0,2020/09/11 08:00:00+00,NaN,NaN,NaN,NaN,{1B2C5C9E-B655-4F20-BCDA-3F9191F5517E},0.0,NaN,NaN,NaN,NaN,NaN,NaN
18590,-1.308800e+07,3.947071e+06,19468,NaN,92672,NaN,2020/09/11 08:00:00+00,NaN,NaN,NaN,NaN,{575EBC49-68C3-4EEF-B7C3-91E562E7C8D7},NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
Zipcases["zipcode_zip"].nunique()

113

In [78]:
Zipcases = Zipcases[["zipcode_zip","case_count","updatedate"]]
Zipcases

       zipcode_zip  case_count              updatedate
0          91901.0         1.0  2020/04/01 08:00:00+00
1          91902.0         9.0  2020/04/01 08:00:00+00
2          91910.0        23.0  2020/04/01 08:00:00+00
3          91911.0        21.0  2020/04/01 08:00:00+00
4          91913.0        20.0  2020/04/01 08:00:00+00
...            ...         ...                     ...
18586          NaN      1416.0  2020/09/11 08:00:00+00
18587          NaN         5.0  2020/09/11 08:00:00+00
18588          NaN         NaN  2020/09/11 08:00:00+00
18589          NaN         1.0  2020/09/11 08:00:00+00
18590          NaN         NaN  2020/09/11 08:00:00+00

[18591 rows x 3 columns]

In [81]:
Zipcases = Zipcases.dropna(axis=0)
Zipcases

       zipcode_zip  case_count              updatedate
0          91901.0         1.0  2020/04/01 08:00:00+00
1          91902.0         9.0  2020/04/01 08:00:00+00
2          91910.0        23.0  2020/04/01 08:00:00+00
3          91911.0        21.0  2020/04/01 08:00:00+00
4          91913.0        20.0  2020/04/01 08:00:00+00
...            ...         ...                     ...
17225      92140.0        89.0  2020/08/30 08:00:00+00
17226      92145.0         8.0  2020/08/30 08:00:00+00
17227      92154.0      2334.0  2020/08/30 08:00:00+00
17230      92173.0      1294.0  2020/08/30 08:00:00+00
17233      92536.0         1.0  2020/08/30 08:00:00+00

[12249 rows x 3 columns]

In [83]:
Zipcases

       zipcode_zip  case_count              updatedate
0          91901.0         1.0  2020/04/01 08:00:00+00
1          91902.0         9.0  2020/04/01 08:00:00+00
2          91910.0        23.0  2020/04/01 08:00:00+00
3          91911.0        21.0  2020/04/01 08:00:00+00
4          91913.0        20.0  2020/04/01 08:00:00+00
...            ...         ...                     ...
17225      92140.0        89.0  2020/08/30 08:00:00+00
17226      92145.0         8.0  2020/08/30 08:00:00+00
17227      92154.0      2334.0  2020/08/30 08:00:00+00
17230      92173.0      1294.0  2020/08/30 08:00:00+00
17233      92536.0         1.0  2020/08/30 08:00:00+00

[12249 rows x 3 columns]