In [1]:
%load_ext autoreload
%autoreload 2

%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
import os

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import FunctionTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split

Benjamin: cumulative_enrollment, stats_sd

Andrew: pubschools_info

Alex: border_crossings

In [26]:
border_crossings_path = os.path.join('Datasets', 'border_crossings.csv')
border_crossings = pd.read_csv(border_crossings_path, low_memory=False)

cumulative_enrollment_path = os.path.join('Datasets', 'cumulative_enrollment.csv')
cumulative_enrollment = pd.read_csv(cumulative_enrollment, low_memory=False)

pubschools_info_path = os.path.join('Datasets', 'pubschools_info.csv')
pubschools_info = pd.read_csv(pubschools_info_path, low_memory=False)

stats_sd_path = os.path.join('Datasets', 'COVID_19_Statistics_San_Diego_County.csv')
stats_sd = pd.read_csv(stats_sd_path, low_memory=False)

#I'm having a bit of trouble loading this one in for some reason, I'll check it out later.
#age_stats_sd_path = os.path.join('Datasets', 'COVID-19_Age_Statistics_by_ZIP_Code')
#age_stats_sd = pd.read_csv(age_stats_sd_path, low_memory=False)

In [8]:
border_crossings

,Port Name,Measure,January,February,March,April,May,June,July
0,Andrade,Pedestrians,"113,254","115,655","75,638","11,190","23,217","21,886","19,720"
1,Andrade,Personal Vehicle Passengers,"87,090","82,972","70,204","29,720","30,962","29,780","30,439"
2,Andrade,Personal Vehicles,"46,520","44,277","39,473","19,102","18,634","17,926","18,480"
3,Boquillas,Pedestrians,"2,585","3,036","2,629",NaN,NaN,13,10
4,Brownsville,Bus Passengers,"4,467","3,072","2,572",405,776,"1,052","1,200"
...,...,...,...,...,...,...,...,...,...
131,Tornillo,Personal Vehicle Passengers,"63,627","60,097","50,339","22,536","38,308","45,866","47,205"
132,Tornillo,Personal Vehicles,"34,183","32,824","29,055","15,255","23,711","27,197","27,787"
133,Ysleta,Personal Vehicle Passengers,NaN,NaN,"413,216","137,820","212,568","252,160","260,127"
134,Ysleta,Personal Vehicles,NaN,NaN,"248,433","104,032","149,358","170,431","175,029"
135,Ysleta,Trucks,NaN,NaN,"53,842","32,299","29,914","47,765","54,839"

In [9]:
cumulative_enrollment

,Port Name,Measure,January,February,March,April,May,June,July
0,Andrade,Pedestrians,"113,254","115,655","75,638","11,190","23,217","21,886","19,720"
1,Andrade,Personal Vehicle Passengers,"87,090","82,972","70,204","29,720","30,962","29,780","30,439"
2,Andrade,Personal Vehicles,"46,520","44,277","39,473","19,102","18,634","17,926","18,480"
3,Boquillas,Pedestrians,"2,585","3,036","2,629",NaN,NaN,13,10
4,Brownsville,Bus Passengers,"4,467","3,072","2,572",405,776,"1,052","1,200"
...,...,...,...,...,...,...,...,...,...
131,Tornillo,Personal Vehicle Passengers,"63,627","60,097","50,339","22,536","38,308","45,866","47,205"
132,Tornillo,Personal Vehicles,"34,183","32,824","29,055","15,255","23,711","27,197","27,787"
133,Ysleta,Personal Vehicle Passengers,NaN,NaN,"413,216","137,820","212,568","252,160","260,127"
134,Ysleta,Personal Vehicles,NaN,NaN,"248,433","104,032","149,358","170,431","175,029"
135,Ysleta,Trucks,NaN,NaN,"53,842","32,299","29,914","47,765","54,839"

In [10]:
pubschools_info

,CDSCode,NCESDist,NCESSchool,StatusType,County,District,School,Street,StreetAbr,City,...,Virtual,Magnet,YearRoundYN,FederalDFCDistrictID,Latitude,Longitude,AdmFName,AdmLName,AdmEmail,LastUpDate
0,01100170000000,0691051,No Data,Active,Alameda,Alameda County Office of Education,No Data,313 West Winton Avenue,313 West Winton Ave.,Hayward,...,No Data,No Data,No Data,No Data,37.658212,-122.09713,L Karen,Monroe,lkmonroe@acoe.org,8/15/2020
1,01100170109835,0691051,10546,Closed,Alameda,Alameda County Office of Education,FAME Public Charter,"39899 Balentine Drive, Suite 335","39899 Balentine Dr., Ste. 335",Newark,...,P,N,N,No Data,37.521436,-121.99391,No Data,No Data,No Data,9/1/2015
2,01100170112607,0691051,10947,Active,Alameda,Alameda County Office of Education,Envision Academy for Arts & Technology,1515 Webster Street,1515 Webster St.,Oakland,...,N,N,N,0601614,37.804520,-122.26815,Manuschka,Michaud,mmichaud@envisionacademy.org,8/13/2020
3,01100170118489,0691051,12283,Closed,Alameda,Alameda County Office of Education,Aspire California College Preparatory Academy,2125 Jefferson Avenue,2125 Jefferson Ave.,Berkeley,...,N,N,N,No Data,37.868991,-122.27844,No Data,No Data,No Data,7/1/2015
4,01100170123968,0691051,12844,Active,Alameda,Alameda County Office of Education,Community School for Creative Education,2111 International Boulevard,2111 International Blvd.,Oakland,...,N,N,N,0601691,37.784648,-122.23863,Monique,Brinson,moniqueb@communityschoolforcreativeeducation.org,2/13/2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18136,58727695830039,0642350,No Data,Closed,Yuba,Wheatland Union High,Wheatland Continuation,PO Box 398,PO Box 398,Wheatland,...,No Data,No Data,N,No Data,No Data,No Data,No Data,No Data,No Data,6/24/1999
18137,58727695830070,0642350,No Data,Closed,Yuba,Wheatland Union High,Wheatland Alternative Education,801 Olive Street,801 Olive St.,Wheatland,...,No Data,No Data,N,No Data,No Data,No Data,No Data,No Data,No Data,6/24/1999
18138,58727695830120,0642350,08437,Closed,Yuba,Wheatland Union High,Academy for Career Education Charter,801 Olive Street,801 Olive St.,Wheatland,...,No Data,No Data,N,No Data,39.010399,-121.42927,No Data,No Data,No Data,7/2/2013
18139,58727695838305,0642350,06930,Active,Yuba,Wheatland Union High,Wheatland Union High,1010 Wheatland Road,1010 Wheatland Rd.,Wheatland,...,N,N,N,No Data,38.998968,-121.45497,Cy,Olsen,colsen@wheatlandhigh.org,8/13/2020
18140,Total Records =,18140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
stats_sd

,X,Y,objectid,date,tests,positives,hospitalized,icu,deaths,newcases,...,age80_plus,ageunknow,age20_29,genderfemale,gendermale,gendeunk,age30_39,globalid,newtests,rolling_perc_pos_cases
0,-1.299488e+07,3.899796e+06,59,2020/03/11 08:00:00+00,123.0,5,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{78698F35-A6E9-48CB-8C8D-67A70EC15C1D},NaN,NaN
1,-1.299488e+07,3.899796e+06,60,2020/03/12 08:00:00+00,147.0,10,NaN,NaN,NaN,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{EFA2B0DB-A692-4632-8495-14B46E240096},NaN,NaN
2,-1.299488e+07,3.899796e+06,61,2020/03/13 08:00:00+00,273.0,19,NaN,NaN,NaN,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{AA7DF18A-6303-4758-A5F1-9B9CD4388A92},52.0,NaN
3,-1.299488e+07,3.899796e+06,62,2020/03/14 08:00:00+00,288.0,25,12.0,NaN,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{9A014068-714D-4FD4-B011-A16A1A49C07C},14.0,NaN
4,-1.299488e+07,3.899796e+06,63,2020/03/15 08:00:00+00,313.0,37,10.0,NaN,NaN,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{DA54D0B2-3C90-4FF2-8090-BE3BDB8C1B4E},25.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,-1.299488e+07,3.899796e+06,245,2020/09/06 08:00:00+00,880321.0,40866,3225.0,777.0,708.0,216,...,1330.0,33.0,10364.0,20965.0,19788.0,113.0,7569.0,{EB1D16C5-D8A2-483F-AAE1-4B7518731E5C},6788.0,4.312512
185,-1.299488e+07,3.899796e+06,246,2020/09/08 08:00:00+00,880321.0,41324,3237.0,773.0,721.0,247,...,1343.0,34.0,10493.0,21179.0,20035.0,110.0,7630.0,{407E67B6-999D-4CF4-9254-EAC378C41528},6788.0,4.512304
186,-1.299488e+07,3.899796e+06,247,2020/09/09 08:00:00+00,897915.0,41608,3253.0,775.0,725.0,284,...,1351.0,38.0,10542.0,21325.0,20173.0,110.0,7659.0,{4C5A4AAD-D2E0-4ACF-B538-F3917A43155D},8311.0,4.372067
187,-1.299488e+07,3.899796e+06,248,2020/09/10 08:00:00+00,907123.0,41969,3266.0,775.0,730.0,361,...,1355.0,35.0,10637.0,21489.0,20368.0,112.0,7721.0,{87BFD444-16C0-4465-975D-46027BDCBB3A},9208.0,4.434672
188,-1.299488e+07,3.899796e+06,249,2020/09/11 08:00:00+00,915654.0,42414,3278.0,777.0,734.0,445,...,1363.0,33.0,10758.0,21687.0,20616.0,111.0,7804.0,{D6CC361E-530F-4501-9322-DCEA65FCB745},8531.0,4.543988

Testing Out a change to work in the ben_cleaning branch